body{
    background-color: #DCDCDC;
}
.auth{
    display: flex;
    position: fixed;
    align-items: flex-end;
    flex-direction: column;
}
.login-container, .register-container, .login, .register{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px 30px 15px 15px;
}
label{
    text-align: left;
    padding: 0.25rem 0;
}
.form-button{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
}
.form-button:hover{
    color: #b90d0d;
    background-color: #ababde;

    transition: .3s;
    transform:scale(1.1);
}
