@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


.details-pagina{
    display: flex;
    padding-left: 160px;
}
.pokemonImg{
    width: 475px;
    height: 475px;
    padding-top: 10px;
    transition: all 0.2s ease-in-out;
}
.pokemonImg:hover{
    transition: .3s;
    transform:scale(1.1);
}

.pokemonName{
    font-family: "Pokemon Solid", sans-serif;
    color: #ffcb05;
    -webkit-text-stroke: 3px #2a75bb;
    font-size: 64px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 320px;
}
.fav-Button,
.nex-Evo,
.pre-Evo{
    border-radius: 20px;
    font-size: 36px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
}
.fav-Button:hover,
.nex-Evo:hover,
.pre-Evo:hover{
    transition: .3s;
    transform:scale(1.1);
}

.fav-Button{
    background-color: #FFE600;
}

.nex-Evo{
    border: 5px solid red;
    background-color: white;
}
